<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <style>
        <%- include style.css %>
    </style>
  </head>
  <body>
    <header class="clearfix">

      <h1>Rechnung</h1>
      <div id="company" class="clearfix">
          <p>
              <div>Meik Specht</div>
              <div>Kloppgasse 15<br />55411 Bingen</div>
          </p>
          <p>
              <div><strong>Mobil:</strong><br />0151/12734259</div>
              <div><strong>Mail:</strong><br /><a href="mailto:meik@schnitzelspecht.de">meik@schnitzelspecht.de</a></div>
              <div><strong>Steuernummer:</strong><br />08 / 165 / 50673 GV/4</div>
          </p>
          <p>
              <div><strong>Rechnungsnummer:</strong><br /><%= invoiceno %></div>
              <div><strong>Datum:</strong><br /><%= invoicedate %></div>
          </p>
      </div>
      <div id="project">
          <%= client.name %><br>
          <%= client.street1 %><br>
          <% if (client.street2 && client.street2 !== "") { %><%= client.street2 %><br><% } %>
          <%= client.zip %> <%= client.city %>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr>
            <th class="desc">Beschreibung</th>
            <th>Preis</th>
            <th>Menge</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>

          <% var total = 0; for (var i=0; i<items.length; i++) { total += items[i].value*items[i].quantity; %>
          <tr>
            <td class="desc"><%= items[i].title %></td>
            <td class="unit"><%= items[i].value %> &euro;</td>
            <td class="qty"><%= items[i].quantity %></td>
            <td class="total"><%= items[i].value * items[i].quantity %> &euro;</td>
          </tr>
          <% } %>

          <tr>
            <td colspan="3" class="grand total">Gesamt</td>
            <td class="grand total"><%= total %> &euro;</td>
          </tr>
        </tbody>
      </table>
      <div id="notices">
        <div class="notice">Als Kleinunternehmer bin ich von der Gesetzlichen Umsatzsteuer befreit!</div>
      </div>
    </main>
    <footer>
        <table class="footer">
            <tr>
                <td colspan="3">
                    <strong class="small">Bankverbindung:</strong>
                </td>
            </tr>
            <tr>
            <tr class="small">
                <td><strong>BIC: </strong>GENODE51KRE</td>
                <td><strong>IBAN: </strong>DE93560900000101200848</td>
                <td><strong>Bank: </strong>Volksbank Rhein-Nahe-Hunsr&uuml;ck</td>
            </tr>
        </table>
    </footer>
  </body>
</html>
